@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

nav {
  background-color: #05445E;
  color: #D4F1F4;
  box-shadow: 0px 1px 10px #05445E;
}

#root {
  background: url(./assets/background.svg);
  height: 100%;
  min-height: 100vh;
}

.login-container {
  background-color: #05445E;
  color: #D4F1F4;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn {
  background-color: #05445E;
  color: #D4F1F4;
  border: 1px solid #D4F1F4;
}

.info-container {
  background-color: #05445E;
  color: #D4F1F4;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.edit-container div {
  color: #05445E;
}