@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

nav {
  background-color: #05445E;
  color: #D4F1F4;
}

#root {
  background: url(./assets/background.svg);
  height: 100%;
  min-height: 100vh;
}

.login-container {
  background-color: #05445E;
  color: #D4F1F4;
}

.btn {
  background-color: #05445E;
  color: #D4F1F4;
  border: 1px solid #D4F1F4;
}

.info-container {
  background-color: #05445E;
  color: #D4F1F4;
}